@page
@model StaticscreenModel
@{
    ViewData["Title"] = "StaticScreen";
}
@section heads{
  <link href="@Url.Content("~/css/staticscreen.css")" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="@Url.Content("~/js/countdown.js")"></script>
}


<div class="staticscreen-body">
    
</div>