@page
@model AboutModel
@{
    ViewData["Title"] = "À Propos";
}
@section heads{
  <link href="@Url.Content("~/css/aboutpage.css")" rel="stylesheet" type="text/css" />
}


<div class="about-body">
    A PROPOS
</div>