@page
@model AboutModel
@{
    ViewData["Title"] = "À Propos";
}
@section heads{
  <link href="@Url.Content("~/css/aboutpage.css")" rel="stylesheet" type="text/css" />
}

<div class="about-body">
    <div class="about-block">
        <div class="about-text">
            <div id="about-display">
            </div>
           <p> ENTRER DU TEXTE  </p>
        </div>
    </div>
</div>
