@page
@model AdminModel
@{
    ViewData["Title"] = "Espace Administrateur";
}
@section heads{
  <link href="@Url.Content("~/css/adminpage.css")" rel="stylesheet" type="text/css" />
}


<div class="adminpage-body">
    <div class="login-block">
        <form action="javascript:;" onsubmit="">
              <label for="password">Mot de passe</label>
              <input type="password" name="password"  value="" autocomplete="off">
              <input type="submit" name="Submit" value="Connexion">
          </form>
    </div>
</div>


    

