@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}
@section heads{
  <link href="@Url.Content("~/css/homepage.css")" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="@Url.Content("~/js/countdown.js")"></script>
}


<div class="frontpage-body">
    <div class="first-third">
        <div class="wall-box">
            <div class="wall-info">
                <div class="wall-icon"><img class="i1" src="images/icones/thermo.png"/></div>
                <div class="wall-text">info1</div>
            </div>
            <div class="wall-info">
                <div class="wall-icon"><img class="i2" src="images/icones/hydro.png"/></div>
                <div class="wall-text">info2</div>
            </div>
            <div class="wall-info">
                <div class="wall-icon"><img class="i3" src="images/icones/mouvement.png"/></div>
                <div class="wall-text">info3</div>
            </div>
            <div class="wall-info">
                <div class="wall-icon"><img class="i4" src="images/icones/lumiere.png"/></div>
                <div class="wall-text">info4</div>
            </div>
            <div class="wall-info">
                <div class="wall-icon"><img class="i5" src="images/icones/pression.png"/></div>
                <div class="wall-text">info5</div>
            </div>
            <div class="wall-info">
                <div class="wall-icon"><img class="i6" src="images/icones/batterie.png"/></div>
                <div class="wall-text">info6</div>
            </div>
            
           
        </div>
        <div class="countdown-box">
            <div class="countdown-text">
                Journée Porte Ouverte
            </div>
            <div id="countdown-display">
            </div>
            <script>
                countDown("May 30 11:00:00 2019","countdown-display");
            </script>
        </div>
    </div>

    <div class="second-third">
        <div class="news-box">
            <div class="news-image">
                <img class="mur" src="images/news1.jpg"/>
            </div>   
            <div class="news-text">
                ‪#Parcoursup : tu hésites encore ? 🎊💻 Viens nous (re)voir lundi soir ! ‬👉 <a href="https://bit.ly/2Hyzlr7">Inscriptions</a>
            </div>   
        </div>
    </div>

    <div class="third-third">
        <div class="socialnetworks-box">
            SOCIAL   
        </div>
    </div>
</div>


    

