@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}
@section heads{
  <link href="@Url.Content("~/css/homepage.css")" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="@Url.Content("~/js/countdown.js")"></script>
}


<div class="frontpage-body">
    <div class="first-third">
        <div class="wall-box">
            <img class="mur" src="images/mur.jpg"/>
        </div>
        <div class="countdown-box">
            <div class="countdown-text">
                Journée Porte Ouverte
            </div>
            <div id="countdown-display">
            </div>
            <script>
                countDown("May 30 11:00:00 2019","countdown-display");
            </script>
        </div>
    </div>

    <div class="second-third">
        <div class="news-box">
            <div class="news-image">
                <img class="mur" src="images/news1.jpg"/>
            </div>   
            <div class="news-text">
                ‪#Parcoursup : tu hésites encore ? 🎊💻 Viens nous (re)voir lundi soir ! ‬👉 <a href="https://bit.ly/2Hyzlr7">Inscriptions</a>
            </div>   
        </div>
    </div>

    <div class="third-third">
        <div class="socialnetworks-box">
            SOCIAL   
        </div>
    </div>
</div>


    

