@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}
@section heads{
  <link href="@Url.Content("~/css/homepage.css")" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="@Url.Content("~/js/countdown.js")"></script>
}


<div class="frontpage-body">
    <div class="first-third">
        <div class="wall-box">
            WALL
        </div>
        <div class="countdown-box">
            <div id="countdown-display">
            </div>
            <script>
                countDown("May 30 11:00:00 2019","countdown-display");
            </script>
        </div>
    
    </div>

    <div class="second-third">
        <div class="news-box">
            NEWS   
        </div>
    </div>

    <div class="third-third">
        <div class="socialnetworks-box">
            SOCIAL   
        </div>
    </div>
</div>


    

