@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}
@section heads{
  <link href="@Url.Content("~/css/homepage.css")" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="@Url.Content("~/js/site.js")"></script>
}


<div class="frontpage-body">
    <div class="first-third">
        <div class="wall-box">
            <img class="mur" src="images/mur.jpg"  />
        </div>
        <div class="countdown-box"><script>compte_a_rebours();</script></script></div>
    
    </div>

    <div class="second-third">
        <div class="news-box">
            NEWS   
        </div>
    </div>

    <div class="third-third">
        <div class="socialnetworks-box">
            SOCIAL   
        </div>
    </div>
</div>


    

