@page
@model MediasModel
@{
    ViewData["Title"] = "Médias";
}
@section heads{
  <link href="@Url.Content("~/css/mediaspage.css")" rel="stylesheet" type="text/css" />
}


<div class="mediaspage-body">
    
    <div class="medias-block">
      <div class="medias-image">
        <a href="images/mur.jpg"><img src="images/mur-resized.jpg" alt="mur" title="Cliquez pour agrandir" /></a>
      </div>
    </div>

    <div class="medias-block">
      <div class="medias-image">
        <img src="images/news1.jpg" alt="news1" title="news1">
      </div>
    </div>

    <div class="medias-block">
        <div class="medias-image">
          <img src="images/news2.jpg" alt="news2" title="news2">
        </div>
    </div>

    <div class="medias-block">
        <div class="medias-image">
          <img src="images/news3.jpg" alt="news3" title="news3">
        </div>
    </div>

    <div class="medias-block">
        <div class="medias-image">
          <img src="images/news4.jpg" alt="news4" title="news4">
        </div>
    </div>

    <div class="medias-block">
        <div class="medias-image">
          <img src="images/graph1.jpg" alt="graph1" title="graph1">
        </div>
    </div>

    <div class="medias-block">
        <div class="medias-image">
          <img src="images/murvege.jpg" alt="murvege" title="murvege">
        </div>
    </div>

    <div class="medias-block">
        <div class="medias-video"> 
          <video src="images/test.mp4" controls poster="images/test.png" loop preload=auto width="600">
          Il est nécessaire de mettre à jour votre navigateur
          </video>
        </div>
    </div>

</div>


    

