@page
@model IndexModel
@{
    ViewData["Title"] = "Informations";
}
@section heads{
  <link href="@Url.Content("~/css/newspage.css")" rel="stylesheet" type="text/css" />
}


<div class="newspage-body">
    <div class="news-block">
        <div class="news-image">
          <img src="images/mur.jpg"/>
        </div>
        <div class="news-text">
          test1      
        </div>
    </div>
    <div class="news-block">
        <div class="news-image">

        </div>
        <div class="news-text">
          test2
        </div>
    </div>
    <div class="news-block">
        <div class="news-image">

        </div>
        <div class="news-text">
          test3
        </div>
    </div>
    <div class="news-block">
        <div class="news-image">

        </div>
        <div class="news-text">
          test4
        </div>
    </div>
    <div class="news-block">
        <div class="news-image">

        </div>
        <div class="news-text">
          test5
        </div>
    </div>
</div>


    

