@page
@model NewsModel
@{
    ViewData["Title"] = "Informations";
}
@section heads{
  <link href="@Url.Content("~/css/usersite/newspage.css")" rel="stylesheet" type="text/css" />
}


<div class="news-body">
    @{ Html.RenderPartial("_News"); }
</div>
<<<<<<< HEAD

  
=======
<script type="text/javascript" src="@Url.Content("~/lib/tilt/tilt.jquery.js")"></script>
<script>
    $('.box').tilt({
    perspective: 2000,
    easing:         "cubic-bezier(.03,.98,.52,.99)"
    })
</script>
>>>>>>> 22c0af48f2471a4a7eb2f9ba8e343287ba0f9524

    

