@page
@model SocialnetworksModel
@{
    ViewData["Title"] = "Réseaux Sociaux";
}
@section heads{
  <link href="@Url.Content("~/css/usersite/socialnetworkspage.css")" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="@Url.Content("~/lib/jquery/dist/jquery.js")"></script>
}


<div class="socialnetworks-body">
   @Html.Raw(Model._ResultViewSocialnetworks)

</div>


    

