@page
@model SocialnetworksModel
@{
    ViewData["Title"] = "Réseaux Sociaux";
}
@section heads{
  <link href="@Url.Content("~/css/socialnetworkspage.css")" rel="stylesheet" type="text/css" />
}


<div class="socialnetworks-body">
    <!-- SnapWidget -->
<script src="https://snapwidget.com/js/snapwidget.js"></script>
<iframe src="https://snapwidget.com/embed/698344" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
<script>
    window.onload = function () { console.log(document.getElementsByClassName('widget-container')) }
</script>
</div>


    

