@page
@model SocialnetworksModel
@{
    ViewData["Title"] = "Réseaux Sociaux";
}
@section heads{
  <link href="@Url.Content("~/css/socialnetworkspage.css")" rel="stylesheet" type="text/css" />
}


<div class="socialnetworks-body">
    SOCIALNETWORKS
</div>


    

