@page
@model WallModel
@{
    ViewData["Title"] = "Mur Vegetal";
}
@section heads{
  <link href="@Url.Content("~/css/usersite/wallpage.css")" rel="stylesheet" type="text/css" />
  <script src="//www.amcharts.com/lib/4/core.js"></script>
  <script src="//www.amcharts.com/lib/4/charts.js"></script>
}

<div class="wall-body">

  <div class="wall-block box">
    <div class="info">
      <div class="temp-icon"><img class="i1" src="~/images/icones/thermo.png"/></div>
      <div class="temp-text">Température : 15°C </div>
    </div>
      <style>
#chartdiv {
  width: 100%;
  height: 500px;
}

</style>

<!-- Resources -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/spiritedaway.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_spiritedaway);
am4core.useTheme(am4themes_animated);
// Themes end

var chart = am4core.create("chartdiv", am4charts.XYChart);

var data = [];
var value = 50;
for(let i = 0; i < 300; i++){
  let date = new Date();
  date.setHours(0,0,0,0);
  date.setDate(i);
  value -= Math.round((Math.random() < 0.5 ? 1 : -1) * Math.random() * 10);
  data.push({date:date, value: value});
}

chart.data = data;

// Create axes
var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
dateAxis.renderer.minGridDistance = 60;

var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

// Create series
var series = chart.series.push(new am4charts.LineSeries());
series.dataFields.valueY = "value";
series.dataFields.dateX = "date";
series.tooltipText = "{value}"

series.tooltip.pointerOrientation = "vertical";

chart.cursor = new am4charts.XYCursor();
chart.cursor.snapToSeries = series;
chart.cursor.xAxis = dateAxis;

//chart.scrollbarY = new am4core.Scrollbar();
chart.scrollbarX = new am4core.Scrollbar();

}); // end am4core.ready()
</script>

<!-- HTML -->
<div id="chartdiv"></div>
  </div>


  <div class="wall-block box">
    <div class="info">
      <div class="temp-icon"><img class="i1" src="~/images/icones/air.png"/></div>
      <div class="temp-text">Qualité de l'air : 20% </div>
    </div>
      <div class="temp-graph"><img src="~/images/graphique.jpg"/></div>
  </div>

  <div class="wall-block box">
    <div class="info">
      <div class="temp-icon"><img class="i1" src="~/images/icones/pression.png"/></div>
      <div class="temp-text">Commande pompe : ? </div>
    </div>
      <div class="temp-graph"><img src="~/images/graphique.jpg"/></div>
  </div>

  <div class="wall-block box">
    <div class="info">
      <div class="temp-icon"><img class="i1" src="~/images/icones/hydro.png"/></div>
      <div class="temp-text">Humidité : 20% </div>
    </div>
      <div class="temp-graph"><img src="~/images/graphique.jpg"/></div>
  </div>

  <div class="wall-block box">
    <div class="info">
      <div class="temp-icon"><img class="i1" src="~/images/icones/mouvement.png"/></div>
      <div class="temp-text">Flux entrant/sortant : ? </div>
    </div>
      <div class="temp-graph"><img src="~/images/graphique.jpg"/></div>
  </div>

  <div class="wall-block box">
    <div class="info">
      <div class="temp-icon"><img class="i1" src="~/images/icones/pression_ruche.png"/></div>
      <div class="temp-text">Pression ruche : ? </div>
    </div>
      <div class="temp-graph"><img src="~/images/graphique.jpg"/></div>
    </div>

  <div class="wall-block box">
    <div class="info">
      <div class="temp-icon"><img class="i1" src="~/images/icones/thermo_ruche.png"/></div>
      <div class="temp-text">Température ruche : 22°C </div>
    </div>
      <div class="temp-graph"><img src="~/images/graphique.jpg"/></div>
  </div>

</div> 

  