@page
@model WallModel
@{
    ViewData["Title"] = "Mur Vegetal";
}
@section heads{
  <link href="@Url.Content("~/css/wallpage.css")" rel="stylesheet" type="text/css" />
}



<div class="wallpage-body">
  <div class="wall-block">
    <div class="wall-graph">
      <img src="images/graph1.jpg"/>
    </div>  
  </div>

  <div class="wall-block">
    <div class="wall-graph">
      <img src="images/murvege.jpg"/>
    </div>  
  </div>

  <div class="wall-block">
    <div class="wall-graph">
      <img src="images/mur.jpg"/>
    </div>  
  </div>

  <div class="wall-block">
    <div class="wall-graph">
      <img src="images/graph1.jpg"/>
    </div>  
  </div>

</div> 

