@page
@model WallModel
@{
    ViewData["Title"] = "Mur Vegetal";
}
@section heads{
  <link href="@Url.Content("~/css/wallpage.css")" rel="stylesheet" type="text/css" />
}



<div class="wallpage-body">
  <header class="header"> MUR VEGETAL </header>
  <article class="main">
    <p>Infos sur le mur blabla</p>  
  </article> 

  <div class="wall-block">
  <aside class="aside aside-1"> photo du mur
    <p><img src="images/mur.jpg" alt="mur"></p>
  </aside>
  <aside class="aside aside-2">graphique sur le mur
    <p><img src="images/graph1.jpg" alt="graph"></p>
    </aside>
     <aside class="aside aside-3">graphique sur le mur
    <p><img src="images/graph1.jpg" alt="graph"></p>
    </aside>
  
  
</div>
</div> 



    

<div class="wallpage-body">
    <div class="wall-block">
        <div class="wall-image">
          <img src="images/mur.jpg"/>
        </div>
        <div class="wall-text">
          Le Lorem Ipsum est simplement du faux texte employé dans la 
          composition et la mise en page avant impression. Le Lorem Ipsum
           est le faux texte standard de l'imprimerie depuis les années 1500
           quand un imprimeur anonyme assembla   
        </div>
    </div>
    <div class="wall-block">
        <div class="wall-image">
          <img src="images/mur.jpg"/>
        </div>
        <div class="wall-text">
          On sait depuis longtemps que travailler avec du texte lisible et 
          contenant du sens est source de distractions, et empêche de se 
          concentrer sur la mise en page elle-même.
          L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte.
        </div>
    </div>
    <div class="wall-block">
        <div class="wall-image">
          <img src="images/mur.jpg"/>
        </div>
        <div class="wall-text">
          Du texte. Du texte.' est qu'il possède une distribution de lettres 
          plus ou moins 
          normale, et en tout cas comparable avec celle du français standard. 
        </div>
    </div>
    <div class="wall-block">
        <div class="wall-image">
          <img src="images/graph1.jpg/>
        </div>
    <div class="wall-block">
        <div class="wall-image">
          <img src="images/mur.jpg"/>
        </div>
       <footer class="footer">
    <a href="http://www.premiere.fr/Series/News-Series/Comment-Lucifer-a-change-en-passant-sur-Netflix">lucifer</a>
  </footer>
    </div>
</div>
