@page
@model IndexModel
@{
    ViewData["Title"] = "Mur Vegetal";
}
@section heads{
  <link href="@Url.Content("~/css/wallpage.css")" rel="stylesheet" type="text/css" />
}



<div class="wallpage-body">
 <div class="wrapper">
  <header class="header"> MUR VEGETAL </header>
  <article class="main">
    <p>Infos sur le mur blabla</p>  
  </article>
  <div class="prout">
  <aside class="aside aside-1"> photo du mur
    <p><img src="images/mur.jpg" alt="mur"></p>
  </aside>
  <aside class="aside aside-2">graphique sur le mur
    <p><img src="images/graph1.jpg" alt="graph"></p>
    </aside>
  </div>
  <footer class="footer">
    <a href="http://www.premiere.fr/Series/News-Series/Comment-Lucifer-a-change-en-passant-sur-Netflix">lucifer</a>
  </footer>
</div>
</div>



    

