@page
@model WallModel
@{
    ViewData["Title"] = "Mur Vegetal";
}
@section heads{
  <link href="@Url.Content("~/css/usersite/wallpage.css")" rel="stylesheet" type="text/css" />
}



<div class="wall-body">
  @{ Html.RenderPartial("_Wall"); }
</div> 

