@page
@model WallModel
@{
    ViewData["Title"] = "Mur Vegetal";
}
@section heads{
  <link href="@Url.Content("~/css/usersite/wallpage.css")" rel="stylesheet" type="text/css" />
  <script src="//www.amcharts.com/lib/4/core.js"></script>
  <script src="//www.amcharts.com/lib/4/charts.js"></script>
}

<div class="wall-body">

  <div class="wall-block box">
    <div class="temp-info">
      <div class="temp-icon"><img class="i1" src="~/images/icones/thermo.png"/></div>
      <div class="temp-text">Température : 15°C</div>
      <div class="temp-graph"><img src="~/images/graph1.jpg"/></div>
    </div>
  </div>


  <div class="wall-block box">
    <div class="temp-info">
      <div class="temp-icon"><img class="i1" src="~/images/icones/hydro.png"/></div>
      <div class="temp-text">Humidité : 20%</div>
      <div class="temp-graph"><img src="~/images/graph1.jpg"/></div>
    </div>
  </div>

    <div class="wall-block box">
    <div class="temp-info">
      <div class="temp-icon"><img class="i1" src="~/images/icones/hydro.png"/></div>
      <div class="temp-text">Humidité : 20%</div>
      <div class="temp-graph"><img src="~/images/graph1.jpg"/></div>
    </div>
  </div>

    <div class="wall-block box">
    <div class="temp-info">
      <div class="temp-icon"><img class="i1" src="~/images/icones/hydro.png"/></div>
      <div class="temp-text">Humidité : 20%</div>
      <div class="temp-graph"><img src="~/images/graph1.jpg"/></div>
    </div>
  </div>

    <div class="wall-block box">
    <div class="temp-info">
      <div class="temp-icon"><img class="i1" src="~/images/icones/hydro.png"/></div>
      <div class="temp-text">Humidité : 20%</div>
      <div class="temp-graph"><img src="~/images/graph1.jpg"/></div>
    </div>
  </div>

    <div class="wall-block box">
    <div class="temp-info">
      <div class="temp-icon"><img class="i1" src="~/images/icones/hydro.png"/></div>
      <div class="temp-text">Humidité : 20%</div>
      <div class="temp-graph"><img src="~/images/graph1.jpg"/></div>
    </div>
  </div>

</div> 

  