
Mur_Vegetal/bin/Debug/netcoreapp2.2/Mur_Vegetal.dll
Mur_Vegetal/bin/Debug/netcoreapp2.2/Mur_Vegetal.dll
Mur_Vegetal/bin/Debug/netcoreapp2.2/Mur_Vegetal.dll
Mur_Vegetal/bin/Debug/netcoreapp2.2/Mur_Vegetal.pdb
Mur_Vegetal/bin/Debug/netcoreapp2.2/Mur_Vegetal.runtimeconfig.dev.json
Mur_Vegetal/bin/Debug/netcoreapp2.2/Mur_Vegetal.Views.dll
Mur_Vegetal/bin/Debug/netcoreapp2.2/Mur_Vegetal.Views.pdb
Mur_Vegetal/obj/Debug/netcoreapp2.2/Mur_Vegetal.assets.cache
Mur_Vegetal/obj/Debug/netcoreapp2.2/Mur_Vegetal.csproj.CoreCompileInputs.cache
Mur_Vegetal/obj/Debug/netcoreapp2.2/Mur_Vegetal.csproj.FileListAbsolute.txt
Mur_Vegetal/obj/Debug/netcoreapp2.2/Mur_Vegetal.csprojAssemblyReference.cache
Mur_Vegetal/obj/Debug/netcoreapp2.2/Mur_Vegetal.dll
Mur_Vegetal/obj/Debug/netcoreapp2.2/Mur_Vegetal.pdb
Mur_Vegetal/obj/Debug/netcoreapp2.2/Mur_Vegetal.RazorCoreGenerate.cache
Mur_Vegetal/obj/Debug/netcoreapp2.2/Mur_Vegetal.Views.dll
Mur_Vegetal/obj/Debug/netcoreapp2.2/Mur_Vegetal.Views.pdb
Mur_Vegetal/obj/Mur_Vegetal.csproj.nuget.cache
Mur_Vegetal/obj/Mur_Vegetal.csproj.nuget.dgspec.json
Mur_Vegetal/obj/Mur_Vegetal.csproj.nuget.g.props
Mur_Vegetal/obj/Mur_Vegetal.csproj.nuget.g.targets
Mur_Vegetal/obj/project.assets.json
