@page
@model AdminModel
@{
    ViewData["Title"] = "Espace Administrateur";
}
@section heads{
  <link href="@Url.Content("~/css/adminpage.css")" rel="stylesheet" type="text/css" />
}


<div class="admin-body">

<fieldset class="table-form">
  <legend>Affichage</legend>
  <div>
  <label for="Mur">Mur</label>
  <input type="checkbox" id="Mur" name="Mur">
  <input type="text" placeholder="Temps en secondes">
  </div>
  <div>
  <label for="Infos">Infos</label>
  <input type="checkbox" id="Infos" name="Infos">
  <input type="text" placeholder="Temps en secondes">
  </div>
  <div>
  <label for="Medias">Medias</label>
  <input type="checkbox" id="Medias" name="Medias">
  <input type="text" placeholder="Temps en secondes">
  </div>
  <div>
  <label for="Countdown">Compte à rebours</label>
  <input type="checkbox" id="Countdown" name="Countdown">
  <input type="text" placeholder="Temps en secondes">
  </div>
  <div>
  <label for="RS">Réseaux sociaux</label>
  <input type="checkbox" id="RS" name="RS">
  <input type="text" placeholder="Temps en secondes">
  </div>
  <button class="bouton"> Valider </button>
</fieldset>
<fieldset class="carrousel-form">
  <legend>Carrousel</legend>
  <div>
  <label for="Texte">Texte:</label>
  <textarea rows="5" cols="60" placeholder="Entrez votre texte">
  </textarea>
  </div>
  <div>
  <label for="Texte">Image:</label>
  <button class="bouton"> Upload </button>
  </div>
  

</fieldset>
<fieldset class="coutdown-form">
  <legend>Compte à rebours</legend>
  coutdown
</fieldset>
<fieldset class="rs-form">
  <legend>Réseaux sociaux</legend>
  rs
</fieldset>
<fieldset class="media-form">
  <legend>Medias</legend>
  media
</fieldset>

</div> 