@page
@model AdminModel
@{
    ViewData["Title"] = "Espace Administrateur";
}
@section heads{
  <link href="@Url.Content("~/css/adminpage.css")" rel="stylesheet" type="text/css" />
}


<div class="admin-body">

<div class="table-form">
  table
</div>
<div class="carrousel-form">
  carrousel
</div>
<div class="coutdown-form">
  coutdown
</div>
<div class="rs-form">
  rs
</div>
<div class="media-form">
  media
</div>

</div> 