@page
@model AdminModel
@{
    ViewData["Title"] = "Espace Administrateur";
}
@section heads{
  <link href="@Url.Content("~/css/adminpage.css")" rel="stylesheet" type="text/css" />
}


<div class="admin-body">

<fieldset class="table-form">
  <legend>Affichage</legend>
    <div>
      <label for="Mur">Mur</label>
      <input type="checkbox" id="Mur" name="Mur">
      <input list="Sec" type="text" id="Temps" placeholder="En secondes">
        <datalist id="Sec">
        <option value="5"></option>
        <option value="10"></option>
        <option value="15"></option>
        <option value="20"></option>
        </datalist>
    </div>
    <div>
      <label for="Infos">Infos</label>
      <input type="checkbox" id="Infos" name="Infos">
        <input list="Sec" type="text" id="Temps" placeholder="En secondes">
        <datalist id="Sec">
        <option value="5"></option>
        <option value="10"></option>
        <option value="15"></option>
        <option value="20"></option>
        </datalist>
    </div>
    <div>
      <label for="Medias">Medias</label>
      <input type="checkbox" id="Medias" name="Medias">
        <input list="Sec" type="text" id="Temps" placeholder="En secondes">
        <datalist id="Sec">
        <option value="5"></option>
        <option value="10"></option>
        <option value="15"></option>
        <option value="20"></option>
        </datalist>
    </div>
    <div>
      <label for="Countdown">Compte à rebours</label>
      <input type="checkbox" id="Countdown" name="Countdown">
        <input list="Sec" type="text" id="Temps" placeholder="En secondes">
        <datalist id="Sec">
        <option value="5"></option>
        <option value="10"></option>
        <option value="15"></option>
        <option value="20"></option>
        </datalist>
    </div>
    <div>
      <label for="RS">Réseaux sociaux</label>
      <input type="checkbox" id="RS" name="RS">
        <input list="Sec" type="text" id="Temps" placeholder="En secondes">
        <datalist id="Sec">
        <option value="5"></option>
        <option value="10"></option>
        <option value="15"></option>
        <option value="20"></option>
        </datalist>
    </div>
    <button class="bouton"> Valider </button>
</fieldset>

<fieldset class="carrousel-form">
  <legend>Carrousel informations</legend>
    <div class="bloc">
      <label for="Texte">Texte:</label>
      <textarea rows="5" cols="60" placeholder="Entrez votre texte">
      </textarea>
    </div>
    <div>
      <label for="Texte">Image:</label>
      <input type="file" accept="image/png, image/jpeg">
    </div>
</fieldset>

<fieldset class="media-form">
  <legend>Carrousel medias</legend>
    <div>
      <label for="Texte">Image:</label>
      <input type="file" accept="image/png, image/jpeg">
    </div>
    <div>
      <label for="Texte">Temps d'affichage:</label>
        <input list="Sec" type="text" id="Temps" placeholder="En secondes">
        <datalist id="Sec">
        <option value="5"></option>
        <option value="10"></option>
        <option value="15"></option>
        <option value="20"></option>
        </datalist>
    </div>
</fieldset>

<fieldset class="coutdown-form">
  <legend>Compte à rebours</legend>
    <div class="bloc">
      <label for="Texte">Texte:</label>
      <textarea rows="5" cols="60" placeholder="Entrez votre texte">
      </textarea>
    </div>
    <div>
      <label for="Date">Date:</label>
      <input type="date" name="countdown-date">
    </div>
    <div>
      <label for="Date">Heure:</label>
      <input type="time" name="countdown-hour">
    </div>
</fieldset>

<fieldset class="rs-form">
  <legend>Instagram</legend>
    <div>
      <label for="Nom">Nom d'utilisateur:</label>
        <input list="Compte" type="text" id="ID" placeholder="ex:ISEN.Lille">
        <datalist id="Compte">
        <option value="ISEN.Lille"></option>
        </datalist>
    </div>
</fieldset>



</div> 