@page
@model CountdownAdminModel
@{
    ViewData["Title"] = "Admin - Countdown";
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
}
@section heads{
  <link href="@Url.Content("~/css/usersite/admin/countdownadmin.css")" rel="stylesheet" type="text/css" />
}


<!----------------------------------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------------------------->
  <div class="countdown-box">
<!-----------------------------------------AJOUT DE COUNTDOWN--------------------------------------------> 
    <div class="countdown-addnew">
      <legend class="coutndown-name">Ajouter compte à rebours</legend>

        <div class="addnew-name">
          <label class="addnew-name">Nom du compte à rebours : </label>
          <input type="text" class="addnew-name" placeholder="Ex: JPO">
        </div>

        <div class="addnew-text">
          <label class="addnew-text">Texte : </label>
          <textarea class="addnew-text" rows="5" cols="60" placeholder="Entrez votre texte"></textarea>
        </div>

        <div class="addnew-img">
          <label class="addnew-img">Image : </label>
          <input class="addnew-img" type="file" accept="image/png, image/jpeg">
        </div>

        <div class="addnew-start-date">
          <label class="addnew-start-date">Date de début : </label>
          <input class="addnew-start-date" type="date">
        </div>

        <div class="addnew-end-date">
          <label class="addnew-end-date">Date de fin : </label>
          <input class="addnew-end-date" type="date">
        </div>

        <div class="addnew-countdown-date">
          <label class="addnew-end-date">Date compteur : </label>
          <input class="addnew-end-date" type="date">
        </div>

        <div class=button>
          <button class="button-delete"> Supprimer </button>
          <button class="button-apply"> Valider </button>
        </div>
      
    </div>
<!-----------------------------------------FIN AJOUT DE COUNTDOWN--------------------------------------------> 

@Html.Raw(@Model._ResultViewAdminCountdown)

  </div>