@page
@model MediasAdminModel
@{
    ViewData["Title"] = "Admin - Medias";
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
}
@section heads{
  <link href="@Url.Content("~/css/usersite/admin/mediasadmin.css")" rel="stylesheet" type="text/css" />
}

<!----------------------------------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------------------------->
<!--div PRINCIPALE CONTENANT LES DIFFERRENTES MEDIAS div ENFANTS-->
  <div class="media-box ">
<!-----------------------------------------AJOUT DE MEDIA--------------------------------------------> 
    <div class="medias-addnew">
      <legend class="medias-name">Ajouter média</legend>

        <div class="addnew-name">
          <label class="addnew-name">Nom de la photo : </label>
          <input type="text" class="addnew-name" placeholder="Ex: JPO">
        </div>

        <div class="addnew-img">
          <label class="addnew-img">Image : </label>
          <input class="addnew-img" type="file" accept="image/png, image/jpeg">
        </div>

        <div class="addnew-video">
          <label class="addnew-video">Video : </label>
          <input type="text" class="addnew-video" placeholder="Ex: https://www.youtube.com/watch?v=WIIAbl7pBnI">
        </div>

        <div class="addnew-start-date">
          <label class="addnew-start-date">Date de début : </label>
          <input class="addnew-start-date" type="date">
        </div>

        <div class="addnew-end-date">
          <label class="addnew-end-date">Date de fin : </label>
          <input class="addnew-end-date" type="date">
        </div>

        <div class=button>
         <button class="button-delete"> Supprimer </button>
         <button class="button-apply"> Valider </button>
        </div>
      
    </div>
<!-----------------------------------------FIN AJOUT DE MEDIA--------------------------------------------> 

@Html.Raw(@Model._ResultViewAdminMedias)

  </div>

