/* --------------------------------------------------------------------------------------
ADMIN PAGE  
--------------------------------------------------------------------------------------*/
.admin-body{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, auto));
  grid-gap: 50px 100px;
  grid-auto-flow: row;
  padding: 10px;
  overflow: inherit;  
}

fieldset{
  display: flex;
  flex-direction: column ;
  align-self: flex-start;
}

.box{
  border: 3px solid black;
}

.bordure{
  margin-top: 25px;
  margin-bottom: 15px;
  border-bottom: 3px solid black;
}

/* --------------------------------------------------------------------------------------
ADMIN PHOTO  
--------------------------------------------------------------------------------------*/
img{
  padding: 2px;
  margin-left: 5px;
  max-width: 60%;
}

div[class="param-img"]{
  display: flex;
  flex-direction: row;
}

label[class="param-img"]{
  min-width: 20%;
}

/* --------------------------------------------------------------------------------------
ADMIN BOUTON
--------------------------------------------------------------------------------------*/
.button{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

/* --------------------------------------------------------------------------------------
ADMIN TEXTAREA
--------------------------------------------------------------------------------------*/
textarea{
  width: 65%;
  margin-top: 10px;
  resize: none;
  margin-left: 4px;
}

/* --------------------------------------------------------------------------------------
ADMIN TEXT
--------------------------------------------------------------------------------------*/
.name{
  text-transform: uppercase;
  font-weight: bold;
  color: #629460;
}

legend{
  text-transform: uppercase;
  color: #629460;
}

input[type="text"]{
  width: 30%;
}

div[class="addnew-text"]{
  display: flex;
  flex-direction: row;
}

div[class="param-text"]{
  display: flex;
  flex-direction: row;
}

.button-apply{
  background-color: rgb(122, 238, 93);
  border: 2px solid #333;
  border-radius : 5px;
  
  font-family: Raleway-Bold, sans-serif;
}
.button-apply:hover {
  background-color: #333; /* Green */
  border: 2px solid rgb(87, 165, 68);
  color: white;
}

.button-delete{
  background-color: rgb(238, 93, 93);
  border: 2px solid #333;
  border-radius : 5px;
  
  font-family: Raleway-Bold, sans-serif;
}
.button-delete:hover {
  background-color: #333; /* Green */
  border: 2px solid rgb(165, 68, 68);
  color: white;
}

