<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <h1>TITRE</h1>
    </header>

    <main>
            @RenderBody()
            <div id="menu"> 
                menu
            </div>
             <div id="mur"> 
                mur
            </div>
             <div id="news"> 
                news
            </div>
             <div id="rs"> 
                réseaux sociaux
            </div>
    </main>

    

    <footer >
        <div id="piedgauche">
           pied gauche
        </div>
        <div id="pieddroit">
           pied droit
        </div>
    </footer>
</body>
</html>
