/* --------------------------------------------------------------------------------------
HOME PAGE  
--------------------------------------------------------------------------------------*/
.home-body{
  background-color:rgb(53, 50, 50);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  padding: 10px;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-content: start;
  grid-gap: 50px 100px;
  overflow: auto;
}



a {
  text-decoration:none;
  color:rgb(53, 50, 50);
}
a:hover{
  text-decoration:none;
  color:white;
}
/* -------------------------------------------
Wall box  
-------------------------------------------*/
.wall-box{
  /*max-width: 25%;*/
  min-width: 300px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  justify-self: center;
  border-width:4px;
  border-style:dotted;
  border-color:rgb(100, 185, 79);
}



.wall-icon img{
  width: 50%;
}
.wall-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-flow: row wrap;
}

.wall-box a {
  text-decoration:none;
  color:white;
}
.wall-box a:hover {
  text-decoration:none;
  color:rgb(100, 185, 79);
}


/* -------------------------------------------
News box  
-------------------------------------------*/
.news-box{
  background-color: rgb(85, 85, 85);
  /*max-width: 25%;*/
  min-width: 300px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  justify-self: center;
}

.news-image img{
  background-color: rgb(100, 185, 79);
  padding:5px;
  width: 95%;
  height: 95%;
  border-radius : 10px;
  flex-shrink: 0;
}

.news-text{
  background-color: rgb(100, 185, 79);
  overflow-wrap: normal;
  align-content: center;
  padding: 5px;
  border-radius : 10px;
}


/* -------------------------------------------
Social Networks box  
-------------------------------------------*/
.socialnetworks-box{
  background-color: rgb(85, 85, 85);
  /*max-width: 25%;*/
  min-width: 300px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  justify-self: center;
}

/* -------------------------------------------
Countdown box  
-------------------------------------------*/
.countdown-box{
  background-color: rgb(85, 85, 85);
  /*max-width: 25%;*/
  min-width: 300px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  justify-self: center;
}

.countdown-text{
  background-color: rgb(100, 185, 79);
  overflow-wrap: normal;
  align-content: center;
  padding: 5px;
  border-radius : 10px;
}