/* --------------------------------------------------------------------------------------
HOME PAGE  
--------------------------------------------------------------------------------------*/
.frontpage-body{
  background-color:#333;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-around;
  height: 100%;
  width: 100%;
  align-items: flex-start;
}

.first-third{
  background-color: rgb(85, 85, 85);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  max-width: 30%;
  min-width: 300px;
}

.second-third{
  background-color: rgb(85, 85, 85);
  margin:10px;
  padding: 10px;
  border-radius : 10px;
  max-width: 30%;
  min-width: 300px;
}

.third-third{
  background-color: rgb(85, 85, 85);
  margin:10px;
  padding: 10px;
  border-radius : 10px;
  max-width: 30%;
  min-width: 300px;
}


/* -------------------------------------------
Wall box  
-------------------------------------------*/
.wall-box{
  background-color:rgb(100, 185, 79); 
  margin:10px;/*haut-bas/gauche-droite*/
  padding:50px;
  border-radius : 10px;
}
.mur{
  width: 100%;
}

/* -------------------------------------------
Countdown box  
-------------------------------------------*/
.countdown-box{
  background-color:rgb(100, 185, 79);
  margin:10px;
  padding:50px;
  border-radius : 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: Raleway-Bold, sans-serif;
  font-size: 100%;
}

.countdown-text{
  font-size: 100%;
}


/* -------------------------------------------
News box  
-------------------------------------------*/
.news-box{
  background-color: rgb(100, 185, 79);
  margin:10px;
  padding:50px;
  border-radius: 10px;
  height: auto;
}

.news-image img{
  width: 100%;
}

.news-text{
  text-align: center;
}


/* -------------------------------------------
Social Networks box  
-------------------------------------------*/
.socialnetworks-box{
  background-color: rgb(100, 185, 79);
  margin:10px;
  padding:50px;
  border-radius : 10px;
}