/* --------------------------------------------------------------------------------------
MEDIAS PAGE 
--------------------------------------------------------------------------------------*/
.mediaspage-body{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, auto));
    padding: 10px;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-content: start;
    grid-gap: 50px 100px;
    overflow: inherit;
    }
    
    .medias-block{
    background-color: rgb(53, 50, 50);
    min-width: 300px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    justify-self: center;
    justify-content: space-around;
    text-align: center;
    }
    
    .medias-image img{
    width: 100%;
    background-color: rgb(100, 185, 79);
    padding:5px;
    width: 95%;
    height: 95%;
    border-radius : 10px;
    flex-shrink: 0;
    }
    
    .medias-video video{
    width: 100%;
    background-color: rgb(100, 185, 79);
    padding:5px;
    width: 95%;
    height: 95%;
    border-radius : 10px;
    flex-shrink: 0;
    }
    
    .mediaspage-body a /* Liens par défaut (non survolés) */
    {
    text-decoration: none;
    color:rgb(0, 9, 128);
    font-style: italic;
    }
    
    .mediaspage-body a:hover /* Au survol des liens */
    {
    text-decoration: underline;
    color:blue;
    }
    
    .mediaspage-body a:active /* Quand clique sur le lien */
    {
    background-color: #FFCC66;
    }
    
    .mediaspage-body a:focus /* Quand sélectionne le lien */
    {
    background-color: rgb(176, 255, 102);
    }
    
    video{
    outline: none;
    }
    