/* --------------------------------------------------------------------------------------
NEWS PAGE  
--------------------------------------------------------------------------------------*/
.newspage-body{
    background-color:rgb(53, 50, 50);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    padding: 10px;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-content: start;
    grid-gap: 50px 100px;
    overflow: auto;
    
}


.news-block{
    background-color: rgb(85, 85, 85);
    /*max-width: 25%;*/
    min-width: 300px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    justify-self: center;
}

.news-image img{
    background-color: rgb(100, 185, 79);
    padding:5px;
    width: 95%;
    height: 95%;
    border-radius : 10px;
    flex-shrink: 0;
}

.news-text{
    background-color: rgb(100, 185, 79);
    overflow-wrap: normal;
    align-content: center;
    padding: 5px;
    border-radius : 10px;
}

