/* --------------------------------------------------------------------------------------
NEWS PAGE 
--------------------------------------------------------------------------------------*/
.news-body{
    width: 100%;
    height: auto;
    background-color:rgb(53, 50, 50);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    grid-gap: 50px 100px;
    grid-auto-flow: row;
    align-content: start;
    justify-content: space-around;
    padding: 10px;
    overflow: inherit;
    }
    
.news-block{
    background-color: rgb(53, 50, 50);
    /*max-width: 25%;*/
    min-width: 300px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    justify-self: center;
}
    
.news-image img{
    background-color: rgb(100, 185, 79);
    padding:5px;
    width: 95%;
    height: 95%;
    border-radius : 10px;
    flex-shrink: 0;
}
    
.news-text{
    background-color: rgb(100, 185, 79);
    overflow-wrap: normal;
    align-content: center;
    padding: 5px;
    border-radius : 10px;
}
    
    