/* --------------------------------------------------------------------------------------
LAYOUT  
--------------------------------------------------------------------------------------*/
@font-face{
  font-family: 'Raleway-Bold'; 
  src: url('/fonts/Raleway/Raleway-Bold.ttf'); 
}
@font-face{
  font-family: 'Raleway-Black'; 
  src: url('/fonts/Raleway/Raleway-Black.ttf'); 
}
@font-face{
  font-family: 'Raleway-Light'; 
  src: url('/fonts/Raleway/Raleway-Light.ttf'); 
}
@font-face{
  font-family: 'Raleway-Regular'; 
  src: url('/fonts/Raleway/Raleway-Regular.ttf'); 
}
@font-face{
  font-family: 'Raleway-SemiBold'; 
  src: url('/fonts/Raleway/Raleway-SemiBold.ttf'); 
}

html {
}
body {
  height: 100vh;
  margin: 0;
  padding:0;
  background-color: rgb(100, 185, 79);
  font-family: Raleway-Regular, sans-serif;
}


.main-body{
  display: flex;
  overflow: auto;
  height: calc(100% - 30px);
}

/* navbar */
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  height: 30px;
  font-family: Raleway-Bold, sans-serif;
  text-transform: uppercase;
  font-size: 90%;
  

}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #ddd;
  color: #333;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}